<%- include('partials/_header') %>

<script>
  $(document).ready(function () {
    let roomId = $("#room-code").html();
    $.ajax({
      type: "POST",
      url: `/game/${roomId}`,
      success: function (data) {
        console.log(data);
      },
    });
  });
</script>

<div class="ui center aligned container">
  <h1 class="ui header">Room code: <span id="room-code"><%= room %></span></h1>
  <p>In room:</p>
  <div class="ui massive labels">
    <a class="ui massive image label">
      <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
      Joe
    </a>

    <a class="ui massive image label">
      <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
      Andrew
    </a>
    <a class="ui massive image label">
      <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
      Brandon
    </a>
    <a class="ui massive image label">
      <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
      Juston
    </a>
    <a class="ui massive image label">
      <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
      Joe
    </a>
  </div>
  <div class="ui container">
    <div class="ui hidden divider"></div>
    <div class="ui buttons">
      <button class="ui button">Cancel Room</button>
      <div class="or"></div>
      <button class="ui positive button">Start Game</button>
    </div>
  </div>
</div>

<%- include('partials/_footer') %>
