<%- include('partials/_header') %>
    <div class="ui center aligned container">
      <p>
        <h3 class="ui header">Welcome to trivier!</h3>

        Play trivia online with up to 15 friends! Start below by creating a new
        game or joining an existing room.
      </p>
      <div class="ui hidden divider"></div>
<a href="/start" class="ui basic button">
  <i class="icon star"></i>
  Start New Game</a>
  <a href="/join" class="ui basic button">
    <i class="icon user plus"></i>
    Join Room</a>

    </div>
  </body>
</html>
