<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../semantic/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="../semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui menu">
      <div class="header item">
        trivier
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui center aligned container">
      <div class="ui centered cards">
        <div class="card">
          <div class="content">
            <div class="header">
              Question 1
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
              nulla neque libero labore, repellendus ea dolor ad, deserunt
              maiores praesentium laboriosam officiis vero voluptas dolorum.
              <div class="ui hidden divider"></div>

              <button class="fluid ui active button">
                Yes (selected)
              </button>
              <div class="ui hidden divider"></div>
              <button class="positive fluid ui button">
                No (correct)
              </button>
              <div class="ui hidden divider"></div>
              <button class="negative fluid ui active button">
                Maybe. (wrong)
              </button>
              <div class="ui hidden divider"></div>
              <button class="fluid ui button">
                Unsure.
              </button>
            </div>
          </div>
          <div class="extra content">
            <i class="clock outline icon"></i>
            00:15
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
