<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../semantic/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="../semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui menu">
      <div class="header item">
        trivier
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui center aligned container">
      <h1 class="ui header">Room code: ABCD</h1>
      <p>In room:</p>
      <div class="ui massive labels">
        <a class="ui massive image label">
          <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
          Joe
        </a>

        <a class="ui massive image label">
          <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
          Andrew
        </a>
        <a class="ui massive image label">
          <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
          Brandon
        </a>
        <a class="ui massive image label">
          <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
          Juston
        </a>
        <a class="ui massive image label">
          <img src="https://api.adorable.io/avatars/190/abott@adorable.png" />
          Joe
        </a>
      </div>
      <div class="ui container">
        <div class="ui hidden divider"></div>
        <div class="ui buttons">
          <button class="ui button">Cancel Room</button>
          <div class="or"></div>
          <button class="ui positive button">Start Game</button>
        </div>
      </div>
    </div>
  </body>
</html>
