<%- include('partials/_header') %>

    <div class="ui center aligned container">
      <h3 class="ui header">Enter your name</h3>
      <div class="ui input">
        <input type="text" placeholder="Your Name" />
      </div>
      <div class="ui hidden divider"></div>

      <button class="ui right labeled icon button">
        <i class="right arrow icon"></i>
        Next
      </button>
    </div>
  </body>
</html>
